@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'IBM Plex Mono', monospace;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

body, html {
  overscroll-behavior: none;
  max-width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body.no-scroll {
  overflow: hidden;
}